$desktop-destination-background: "../../assets/destination/background-destination-desktop.jpg";
$tablet-destination-background: "../../assets/destination/background-destination-tablet.jpg";
$mobile-destination-background: "../../assets/destination/background-destination-mobile.jpg";


.destination-container {
  color: var(--text-color);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 15vw 6vw;
  background-image: url($desktop-destination-background);
  background-size: cover;
  position: relative;

  .destination-header {
    font-size: 1.4vw;
    height: 2.5vw;
    width: 80vw;
    font-family: var(--font-primary);
    font-weight: lighter;
    position: relative;
    bottom: 5rem;
    text-transform: uppercase;

    .destination-index {
      opacity: 0.4;
      padding-right: 2vw;
    }
  }

  .destination-image {
    width: 25vw;
    height: 25vw;
    position: relative;
    right: 35vw;
  }

  .destination-detail-container {
    width: 22vw;
    height: 0;

    .destination-navbar {
      display: flex;
      justify-content: flex-start;
      font-family: var(--font-primay);
      text-transform: uppercase;

      .navLink {
        color: var(--text-color);
        font-size: 1vw;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        margin-right: 20px;
        padding: 10px 0;

        &:hover {
          border-bottom: 3px solid rgb(85, 81, 81);
        }
      }

      .active {
        border-bottom: 3px solid rgb(255, 255, 255);
      }
    }

    .destination {
      font-family: 'Lora', serif;
      font-size: 5vw;
      letter-spacing: 15px;
      position: relative;
      bottom: 2rem;
    }

    .destination-details {
      line-height: 22px;
      position: relative;
      bottom: 4rem;
    }

    .horizontal-line {
      border: 1px solid rgb(163, 155, 155);
      width: 22vw;
      opacity: 0.3;
      margin: 50px 0 0 0;
      position: relative;
      bottom: 5rem;
    }

    .destination-detail {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-transform: uppercase;
      position: relative;
      bottom: 5rem;

      .destination-distance {
        padding-right: 60px;

        .avg-dis {
          font-size: 0.8vw;
        }

        .distance {
          font-size: 1.4vw;
        }
      }

      .destination-travel-time {


        .est-time {
          font-size: 0.8vw;
        }

        .duration {
          font-size: 1.4vw;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .destination-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url($mobile-destination-background);
    padding: 10vw 6vw;
    text-align: center;

    .destination-header {
      font-size: 4vw;
      width: 100%;
      height: 0;
      letter-spacing: 0.4vw;
      bottom: 13rem;
    }

    .destination-image {
      width: 35vw;
      height: 35vw;
      left: 1vw;
      bottom: 12rem;
    }

    .destination-detail-container {
      width: 100%;
      height: 0;
      position: relative;
      bottom: 11rem;

      .destination-navbar {
        width: 100%;
        height: 7vw;
        justify-content: center;

        .navLink {
          font-size: 3vw;
        }
      }

      .destination {
        font-size: 13vw;
        width: 100%;
        height: 0;
        padding: 0 2.5rem;
        letter-spacing: 0;
        position: relative;
        bottom: 2.5rem;
      }

      .destination-details {
        height: 0;
        letter-spacing: .2vw;
        line-height: 6vw;
        padding: 1rem;
        position: relative;
        bottom: 3rem;
      }

      .horizontal-line {
        width: 100%;
        top: 3rem;
      }

      .destination-detail {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 0;
        position: relative;
        text-transform: uppercase;
        top: 8rem;

        .destination-distance {
          width: 100%;
          height: 0;
          padding-right: 0;
          position: relative;
          bottom: 5rem;

          .avg-dis {
            font-size: 3vw;
          }

          .distance {
            font-size: 4.5vw;
          }
        }

        .destination-travel-time {
          width: 100%;
          height: 0;


          .est-time {
            font-size: 3vw;
          }

          .duration {
            font-size: 4.5vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .destination-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url($tablet-destination-background);
    padding: 15vw 10vw;
    text-align: center;

    .destination-header {
      font-size: 2vw;
      width: 100%;
      height: 7vw;
      letter-spacing: 0.4vw;
      right: 12rem;
      bottom: 11rem;

      .destination-index {
        padding-right: 1rem;
      }
    }

    .destination-image {
      width: 30vw;
      height: 30vw;
      bottom: 12rem;
      left: .5vw;
    }

    .destination-detail-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 1rem;

      .destination-navbar {
        width: 100%;
        justify-content: center;
        position: relative;
        top: 3rem;

        .navLink {
          font-size: 2vw;
        }
      }

      .destination {
        font-size: 11vw;
        width: 100%;
        height: 0;
        letter-spacing: 0;
        position: relative;
        bottom: 1rem;
      }

      .destination-details {
        letter-spacing: .2vw;
        line-height: 4vw;
        position: relative;
        bottom: 1rem;
      }

      .horizontal-line {
        width: 100%;
        bottom: 3rem;
      }

      .destination-detail {
        width: 100%;
        height: auto;
        position: relative;
        bottom: 2rem;

        .destination-distance {
          width: 100%;

          .avg-dis {
            font-size: 2vw;
          }

          .distance {
            font-size: 4vw;
            bottom: 1rem;
          }
        }

        .destination-travel-time {
          right: 2rem;
          width: 100%;


          .est-time {
            font-size: 2vw;
          }

          .duration {
            font-size: 4vw;
            bottom: 1rem;
          }
        }
      }
    }
  }
}
