$desktop-destination-background: "../../assets/destination/background-destination-desktop.jpg";
$tablet-destination-background: "../../assets/destination/background-destination-tablet.jpg";
$mobile-destination-background: "../../assets/destination/background-destination-mobile.jpg";


.destination-container {
  color: var(--text-color);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 300px 250px;
  background-image: url($desktop-destination-background);
  background-size: cover;
  position: relative;

  .destination-header {
    font-size: 1.4vw;
    height: 1.4vw;
    width: 20vw;
    font-family: var(--font-primary);
    font-weight: lighter;
    position: relative;
    bottom: 120px;
    text-transform: uppercase;

    .destination-index {
      opacity: 0.4;
      padding-right: 2vw;
    }
  }

  .destination-image {
    position: relative;
    width: 25vw;
    height: 25vw;
    right: 300px;
  }

  .destination-detail-container {
    width: 22vw;

    .destination-navbar {
      display: flex;
      justify-content: flex-start;
      font-family: var(--font-primay);
      text-transform: uppercase;

      .navLink {
        color: var(--text-color);
        font-size: 1vw;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        margin-right: 20px;
        padding: 10px 0;

        &:hover {
          border-bottom: 3px solid rgb(85, 81, 81);
        }
      }

      .active {
        border-bottom: 3px solid rgb(255, 255, 255);
      }
    }

    .destination {
      font-family: 'Lora', serif;
      font-size: 5vw;
      letter-spacing: 15px;
    }

    .destination-details {
      line-height: 20px;
    }

    .horizontal-line {
      border: 1px solid rgb(91, 85, 85);
      width: 22vw;
      opacity: 0.3;
      margin: 50px 0 0 0;
      position: relative;
      bottom: 15px;
    }

    .destination-detail {
      display: flex;
      justify-content: flex-start;

      .destination-distance {
        padding-right: 60px;

        .avg-dis {
          font-size: 0.8vw;
        }

        .distance {
          font-size: 1.4vw;
        }
      }

      .destination-travel-time {


        .est-time {
          font-size: 0.8vw;
        }

        .duration {
          font-size: 1.4vw;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .destination-container {
    display: flex;
    flex-direction: column;
    background-image: url($mobile-destination-background);
    padding: 12rem 2rem;
    text-align: center;

    .destination-header {
      font-size: 3vw;
      width: 100%;
      height: 7vw;
      letter-spacing: 0.4vw;
      margin-bottom: 1rem;

      .destination-index {
        padding: auto;
      }
    }

    .destination-image {
      width: 35vw;
      height: 35vw;
      left: 7rem;
      bottom: 8rem;
    }

    .destination-detail-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      position: relative;
      bottom: 7rem;

      .destination-navbar {
        width: 100%;
        justify-content: center;

        .navLink {
          font-size: 3vw;
        }
      }

      .destination {
        font-size: 10vw;
        width: 100%;
        height: 6vh;
        padding: 0;
        position: relative;
        bottom: 1.5rem;
      }

      .destination-details {
        position: relative;
        bottom: 4rem;
        letter-spacing: .2vw;
      }

      .horizontal-line {
        width: 100%;
        position: relative;
        bottom: 7rem;
      }

      .destination-detail {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative;
        text-transform: uppercase;
        bottom: 7rem;
        left: 1.5rem;

        .destination-distance {
          width: 100%;

          .avg-dis {
            font-size: 3vw;
          }

          .distance {
            position: relative;
            font-size: 6vw;
            bottom: 1rem;
          }
        }

        .destination-travel-time {
          position: relative;
          bottom: 2rem;
          right: 2rem;
          width: 100%;


          .est-time {
            font-size: 3vw;
          }

          .duration {
            position: relative;
            font-size: 6vw;
            bottom: 1rem;
          }
        }
      }
    }
  }
}