$background-image: "../../assets/crew/background-crew-desktop.jpg";


.crew-container {
  color: aliceblue;
  display: flex;
  height: 100vh;
  padding: 300px 300px;
  background: $background-image;
  background-size: cover;
  justify-content: space-between;


  .crew-info-container {
    width: clamp(20rem, 80%, 29rem);

    .crew-header {
      font-size: 1.4vw;
      font-family: var(--font-primary);
      font-weight: lighter;
      position: relative;
      bottom: 120px;
      text-transform: uppercase;

      .crew-index {
        padding-right: 15px;
        opacity: 0.4;
      }
    }

    .crew-details-container {
      position: relative;
      top: 80px;

      .crew-role {
        font-size: 2rem;
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-weight: lighter;
        opacity: 0.5;
      }

      .crew-name {
        font-size: 2.5rem;
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-weight: lighter;
      }

      .crew-details {
        letter-spacing: 1px;
      }
    }

    .crew-navigation {
      display: flex;
      justify-content: flex-start;
      position: relative;
      top: 250px;

      .crew-navs {
        width: 1vw;
        height: 1vw;
        background-color: rgb(83, 76, 73);
        margin-right: 15px;
        border-radius: 50%;
        border: rgb(119, 115, 115) 1px solid;

        &:hover {
          background: rgb(161, 160, 160);
        }

        &:active {
          background: #FFF;
        }
      }
    }
  }

  .crew-image-container {
    position: relative;
    bottom: 100px;

    .image {
      width: 32vw;
      height: 38vw;
    }
  }

}