
* {
  box-sizing: border-box;
}

.navigation-container {
  top: 50px;
  width: 100%;
  height: 8vh;
  position: fixed;
  margin-left: 40px;

  .logo {
    top: 10px;
    position: relative;
    cursor: pointer;

  }

  .hor-line {
    border: 1px solid rgb(91, 85, 85);
    width: 45vw;
    margin-left: 90px;
    opacity: 0.3;
    position: relative;
    bottom: 15px;

  }
  
  .navlinks {
    width: clamp(20vw, 80%, 60vw);
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgb(72, 70, 70);
    opacity: 0.6;
    align-items: center;
    padding: 25px 0;
    text-transform: uppercase;
    position: relative;
    margin-left: 45vw;
    bottom: 55px;

    .nav-link {
      color: #FFF;
      font-family: var(--font-primary);
      text-decoration: none;
      position: relative;
      margin-right: 20px;
      cursor: pointer;

      &::after {
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 0;
        top: 48px;
        width: 0%;
        content: '.';
        color: transparent;
        background: #FFF;
        height: 4px;
      }

      &:hover::after {
        width: 80%;
      }

      .nav-ident {
        color: #FFF;
        font-weight: 600;
        padding-right: 10px;
        opacity: 0.5;
      }

      @media (min-width:1025px) {
        .navlinks {
          padding: 25px 0 25px 70px;
        }
      }
    }

  }
}


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


