$desktop-crew-background: "../../assets/crew/background-crew-desktop.jpg";
$tablet-crew-background: "../../assets/crew/background-crew-tablet.jpg";
$mobile-crew-background: "../../assets/crew/background-crew-mobile.jpg";


.crew-container {
  color: aliceblue;
  display: flex;
  height: 100vh;
  padding: 300px 300px;
  background-image: url($desktop-crew-background);
  background-size: cover;
  justify-content: space-between;

  .crew-info-container {
    width: clamp(20rem, 80%, 29rem);

    .crew-header {
      font-size: 1.4vw;
      font-family: var(--font-primary);
      font-weight: lighter;
      position: relative;
      bottom: 120px;
      text-transform: uppercase;

      .crew-index {
        padding-right: 15px;
        opacity: 0.4;
      }
    }

    .crew-details-container {
      position: relative;
      top: 80px;

      .crew-role {
        font-size: 2rem;
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-weight: lighter;
        opacity: 0.5;
      }

      .crew-name {
        font-size: 2.5rem;
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-weight: lighter;
      }

      .crew-details {
        letter-spacing: 1px;
      }
    }

    .crew-navigation {
      display: flex;
      justify-content: flex-start;
      position: absolute;
      bottom: 120px;

      .crew-navs {
        width: 1vw;
        height: 1vw;
        background-color: rgb(11, 10, 10);
        margin-right: 15px;
        border-radius: 50%;
        border: rgb(172, 164, 164) 1px solid;

        &:hover {
          background-color: rgb(161, 160, 160);
        }
      }

      .active {
        background-color: #FFF;
      }
    }
  }

  .crew-image-container {
    position: relative;
    bottom: 100px;

    .image {
      width: 32vw;
      height: 38vw;
    }
  }
}

@media screen and (max-width: 767px) {
  .crew-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url($mobile-crew-background);
    padding: 30vw 7vw;
    text-align: center;

    .crew-info-container {
      width: 100%;
      height: 0;

      .crew-header {
        display: flex;
        justify-content: center;
        bottom: 13rem;
        font-size: 4vw;
      }

      .crew-details-container {
        position: relative;
        top: 5rem;

        .crew-role {
          font-size: 4vw;
        }

        .crew-name {
          font-size: 7vw;
          font-family: 'Lora', serif;
        }
        .crew-details {
          line-height: 5vw;
        }
      }

      .crew-navigation {
        display: flex;
        justify-content: center;
        bottom: 19rem;
        left: 1vw;
        width: 100%;
        position: absolute;

        .crew-navs {
          width: 3vw;
          height: 3vw;
        }
      }
    }

    .crew-image-container {
      position: relative;
      bottom: 9rem;
      width: 100%;
      padding-left: 27vw;
      border-bottom: 1px solid rgb(83, 78, 78);

      .image {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 40vw;
        height: 45vw;
      }
    }
  }
}