$desktop-crew-background: "../../assets/crew/background-crew-desktop.jpg";
$tablet-crew-background: "../../assets/crew/background-crew-tablet.jpg";
$mobile-crew-background: "../../assets/crew/background-crew-mobile.jpg";


.crew-container {
  color: aliceblue;
  display: flex;
  height: 100vh;
  padding: 15vw 7vw;
  background-image: url($desktop-crew-background);
  background-size: cover;
  justify-content: space-between;

  .crew-info-container {
    width: 35vw;
    height: 0;

    .crew-header {
      font-size: 2vw;
      font-family: var(--font-primary);
      font-weight: lighter;
      position: relative;
      bottom: 5rem;
      text-transform: uppercase;

      .crew-index {
        padding-right: 1rem;
        opacity: 0.4;
      }
    }

    .crew-details-container {
      position: relative;
      bottom: 2rem;

      .crew-role {
        font-size: 2rem;
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-weight: lighter;
        opacity: 0.5;
      }

      .crew-name {
        font-size: 2.5rem;
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-weight: lighter;
      }

      .crew-details {
        letter-spacing: 1px;
      }
    }

    .crew-navigation {
      display: flex;
      justify-content: flex-start;
      position: relative;
      top: 4rem;

      .crew-navs {
        width: 2vw;
        height: 2vw;
        background-color: rgb(11, 10, 10);
        margin-right: 15px;
        border-radius: 50%;
        border: rgb(172, 164, 164) 1px solid;

        &:hover {
          background-color: rgb(161, 160, 160);
        }
      }

      .active {
        background-color: #FFF;
      }
    }
  }

  .crew-image-container {
    position: relative;
    bottom: 100px;

    .image {
      width: 32vw;
      height: 38vw;
    }
  }
}

@media screen and (max-width: 767px) {
  .crew-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url($mobile-crew-background);
    padding: 10vw 7vw;
    text-align: center;

    .crew-info-container {
      width: 100%;
      height: 0;

      .crew-header {
        display: flex;
        justify-content: center;
        bottom: 13rem;
        font-size: 4vw;
      }

      .crew-details-container {
        position: relative;
        top: 5rem;

        .crew-role {
          font-size: 4vw;
        }

        .crew-name {
          font-size: 7vw;
          font-family: 'Lora', serif;
        }
        .crew-details {
          line-height: 6vw;
          padding: 1rem;
          position: relative;
          bottom: 2rem;
        }
      }

      .crew-navigation {
        display: flex;
        justify-content: center;
        width: 90vw;
        height: 4vw;
        position: absolute;
        top: 27rem;

        .crew-navs {
          width: 5vw;
          height: 5vw;
        }
      }
    }

    .crew-image-container {
      position: relative;
      bottom: 10rem;
      width: 100%;
      padding-left: 27vw;
      border-bottom: 1px solid rgb(83, 78, 78);

      .image {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 40vw;
        height: 45vw;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
   .crew-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url($tablet-crew-background);
    padding: 10vw 7vw;
    text-align: center;

    .crew-info-container {
      width: 100%;
      height: 0;

      .crew-header {
        display: flex;
        justify-content: center;
        bottom: 11rem;
        font-size: 4vw;
      }

      .crew-details-container {
        position: relative;
        top: 15rem;

        .crew-role {
          font-size: 3vw;
          position: relative;
          top: 2rem;
        }

        .crew-name {
          font-size: 7vw;
          font-family: 'Lora', serif;
        }
        .crew-details {
          line-height: 4vw;
          padding: 1rem;
          position: relative;
          bottom: 2rem;
          padding: 1rem;
        }
      }

      .crew-navigation {
        display: flex;
        justify-content: center;
        width: 90vw;
        height: 0;
        position: absolute;
        top: 36rem;

        .crew-navs {
          width: 4vw;
          height: 4vw;
        }
      }
    }

    .crew-image-container {
      position: relative;
      bottom: 6rem;
      width: 100%;
      padding-left: 27vw;
      border-bottom: 1px solid rgb(83, 78, 78);

      .image {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 40vw;
        height: 45vw;
      }
    }
  }
}