$desktop-technology-background: "../../assets/technology/background-technology-desktop.jpg";
$tablet-technology-background: "../../assets/technology/background-technology-tablet.jpg";
$mobile-technology-background: "../../assets/technology/background-technology-mobile.jpg";


.technology-container {
  color: var(--text-color);
  display: flex;
  height: 100vh;
  background-image: url($desktop-technology-background);
  background-size: cover;
  justify-content: space-between;
  padding: 15vw 0 15vw 15vw;
  position: relative;


  .technology-all-info-container {
    width: 40vw;
    height: 0;


    .technology-header {
      bottom: 5rem;
      font-family: var(--font-primary);
      font-size: 2vw;
      font-weight: lighter;
      position: relative;
      text-transform: uppercase;
      
      .tech-index {
        padding-right: 1rem;
        opacity: 0.4;
      }
    }
    .technology-details-container {
      display: flex;
      justify-content: space-between;


      .technology-route-container {
        padding-right: 30px;


        .route-indexes {
          color: var(--text-color);
          display: flex;
          width: 4vw;
          height: 4vw;
          justify-content: center;
          align-items: center;
          font-family: var(--font-primary);
          font-size: 1.4rem;
          border-radius: 35vw;
          border: rgb(81, 78, 78) 1px solid;
          margin: 15px;
          position: relative;
          text-decoration: none;
          
          &:hover {
            border: #FFF 1px solid;
          }
        }

        .active {
          color: #000;
          background-color: var(--text-color);
        }
      }

      .technology-details {
        padding: auto;

        .technology-detail-header {
          font-family: var(--font-primary);
          font-size: 1vw;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .technology-name {
          font-family: var(--font-primary);
          font-size: 2.5vw;
          text-transform: uppercase;
          font-weight: lighter;
        }

        .technology-description {
          font-size: 1vw;
          letter-spacing: 1.5px;
          line-height: 1.2vw;
        }
      }
    }
  }

  .technology-image-container {
    height: fit-content;

    .image {
      width: 30vw;
      height: 30vw;
    }
  }
}

@media screen and (max-width: 767px) {
  .technology-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url($mobile-technology-background);
    padding: 25vw 0;

    .technology-all-info-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 0;
      padding: 0 7vw;
      text-align: center;


      .technology-header {
        font-size: 4vw;
        position: relative;
        height: 6vw;
        bottom: 1rem;
      }

      .technology-details-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        padding: 0;
        position: relative;
        top: 13rem;

        .technology-route-container {
          display: flex;
          justify-content: center;
          position: relative;
          padding: 1rem 1rem 2rem;
          bottom: .5rem;

          .route-indexes {
            width: 10vw;
            height: 10vw;
            margin: 2vw;
          }
        }

        .technology-details {
          position: relative;
          bottom: 2.5rem;

          .technology-detail-header {
            font-size: 3vw;
            opacity: 0.5;
            padding: 0 0 1rem;
          }

          .technology-name {
            font-size: 9vw;
            position: relative;
            bottom: 1rem;
          }

          .technology-description {
            font-size: 3vw;
            line-height: 6vw;
            letter-spacing: 0.4vw;
            position: relative;
            bottom: 2rem;
          }
        }
      }
    }

    .technology-image-container {
      height: auto;
      position: relative;
      bottom: 10rem;

      .image {
        width: 100%;
        height: 45vw;
        position: relative;
        left: 0.6vw;
      }
    }
  } 
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .technology-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: url($tablet-technology-background);
    padding: 25vw 0;

    .technology-all-info-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 0;
      padding: 0 7vw;
      text-align: center;


      .technology-header {
        display: flex;
        justify-content: flex-start;
        font-size: 2vw;
        width: 100%;
        height: 7vw;
        letter-spacing: 0.4vw;
        top: 3rem;
      }

      .technology-details-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        padding: 0;
        position: relative;
        top: 22rem;

        .technology-route-container {
          display: flex;
          justify-content: center;
          position: relative;
          padding: 1rem 1rem 2rem;
          bottom: 1rem;

          .route-indexes {
            width: 7vw;
            height: 7vw;
            margin: 2vw;
          }
        }

        .technology-details {
          position: relative;
          bottom: 2.5rem;

          .technology-detail-header {
            font-size: 2vw;
            opacity: 0.5;
            padding: 0 0 2rem;
          }

          .technology-name {
            font-size: 6vw;
            position: relative;
            bottom: 3rem;
          }

          .technology-description {
            font-size: 2vw;
            line-height: 4vw;
            letter-spacing: 0.4vw;
            position: relative;
            bottom: 7rem;
            padding: 2rem;
          }
        }
      }
    }

    .technology-image-container {
      height: auto;
      position: relative;
      bottom: 9rem;

      .image {
        width: 100%;
        height: 35vw;
        position: relative;
        left: 0.6vw;
      }
    }
  } 
}