$desktop-background: "../../assets/home/background-home-desktop.jpg";
$tablet-background: "../../assets/home/background-home-tablet.jpg";
$mobile-background: "../../assets/home/background-home-mobile.jpg";

.home-container {
  display: flex;
  color: aliceblue;
  height: 100vh;
  padding: 400px 200px 400px 350px;
  justify-content: space-between;
  background-image: url($desktop-background);
  background-size: cover;
  
  
  .home-text-container {
    width: 25vw;

    .home-title {
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .2rem;
    }

    .space {
      font-size: 6.5rem;
      text-transform: uppercase;
      font-family: 'Lora', serif;
    }

    .welcome-message {
      letter-spacing: 0.1rem;
      line-height: 20px;
    } 
  }

  .explore-container {
    height: 12vw;
    width: 12vw;
    background-color: #FFF;
    color: #000;
    font-size: 22px;
    border-radius: 150px;
    margin-top: 120px;
    text-align: center;
    padding: 90px 50px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;

    &:hover {
      box-shadow: -2px 0px 6px 68px rgba(235,235,235,0.18);
      -webkit-box-shadow: -2px 0px 6px 68px rgba(235,235,235,0.18);
      -moz-box-shadow: -2px 0px 6px 68px rgba(235,235,235,0.18); 
    }
  }
}

@media screen and (max-width: 767px) {

  .home-container {
    display: flex;
    flex-direction: column;
    padding: 8rem 4rem;
    background-image: url($mobile-background);
    background-size: contain;

    .home-text-container {
      width: 70vw;
      text-align: center;

      .home-title {
        font-size: 3vw;
      }

      .space {
        font-size: 20vw;
      }

      .welcome-message {
        font-size: 3vw;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
      } 
    }

    .explore-container {
      width: 12rem;
      height: 12rem;
      position: relative;
      left: 3.5rem;
      bottom: 5rem;
    }
  }
}