$desktop-background: "../../assets/home/background-home-desktop.jpg";
$tablet-background: "../../assets/home/background-home-tablet.jpg";
$mobile-background: "../../assets/home/background-home-mobile.jpg";

.home-container {
  display: flex;
  color: aliceblue;
  height: 100vh;
  padding: 15vw;
  justify-content: space-between;
  background-image: url($desktop-background);
  background-size: cover;
  
  
  .home-text-container {
    width: 30vw;
    height: 0;

    .home-title {
      text-transform: uppercase;
      font-size: 1.5vw;
      letter-spacing: .2rem;
    }

    .space {
      font-size: 10vw;
      text-transform: uppercase;
      font-family: 'Lora', serif;
    }

    .welcome-message {
      letter-spacing: .1vw;
      line-height: 1.5vw;
    } 
  }

  .explore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 12vw;
    background-color: #FFF;
    color: #000;
    font-size: 1.2vw;
    border-radius: 50%;
    margin-top: 10vw;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;

    &:hover {
      box-shadow: -2px 0px 6px 68px rgba(235,235,235,0.18);
      -webkit-box-shadow: -2px 0px 6px 68px rgba(235,235,235,0.18);
      -moz-box-shadow: -2px 0px 6px 68px rgba(235,235,235,0.18); 
    }
  }
}

@media screen and (max-width: 767px) {

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15vw 6vw;
    background-image: url($mobile-background);

    .home-text-container {
      width: 90vw;

      .home-title {
        font-size: 3vw;
      }

      .space {
        font-size: 25vw;
      }

      .welcome-message {
        font-size: 3.5vw;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
      } 
    }

    .explore-container {
      font-size: 4vw;
      width: 40vw;
      height: 40vw;
      position: relative;
      bottom: 2rem;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vw 10vw;
    background-image: url($tablet-background);
    text-align: center;

    .home-text-container {
      width: 80vw;

      .home-title {
        font-size: 2.5vw;
        padding-bottom: 1rem;
      }

      .space {
        font-size: 15vw;
      }

      .welcome-message {
        font-size: 2.5vw;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
        padding: 2rem;
      } 
    }

    .explore-container {
      font-size: 3vw;
      height: 25vw;
      width: 25vw;
    }
  }
}