
.destination-container {
  color: var(--text-color);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 300px 250px;
  background-size: cover;
  position: relative;

  .destination-header {
    font-size: 1.4vw;
    height: 1.4vw;
    font-family: var(--font-primary);
    font-weight: lighter;
    position: relative;
    bottom: 120px;
    text-transform: uppercase;

    .destination-index {
      opacity: 0.4;
      padding-right: 1vw;
    }
  }

  .destination-image {
    position: relative;
    width: 25vw;
    height: 25vw;
    right: 300px;
  }

  .destination-detail-container {
    width: 22vw;

    .destination-navbar {
      display: flex;
      justify-content: flex-start;
      font-family: var(--font-primay);
      text-transform: uppercase;
      

      .navLink {
        color: var(--text-color);
        font-size: 1vw;
        text-decoration: none;
        margin-right: 20px;
      }

    }

    .destination {
      font-family: 'Fira Sans', sans-serif;
      font-size: 5vw;
      letter-spacing: 15px;
    }

    .destination-details {
      line-height: 20px;
    }

    .horizontal-line {
      border: 1px solid rgb(91, 85, 85);
      width: 22vw;
      opacity: 0.3;
      margin: 50px 0 0 0;
      position: relative;
      bottom: 15px;
    }

    .destination-detail {
      display: flex;
      justify-content: flex-start;

      .destination-distance {
        padding-right: 60px;

        .avg-dis {
          font-size: 0.8vw;
        }

        .distance {
          font-size: 1.4vw;
        }
      }

      .destination-travel-time {


        .est-time {
          font-size: 0.8vw;
        }

        .duration {
          font-size: 1.4vw;
        }
      }
    }
  }
}